<html>
    <head>
        <title>Trash Reminder</title>
    </head>
    <body>
        <center><p style="color: blue; font-size: 100;"><strong>Today is TRASH DAY!!!</center></body></p>
    
        <p style="color: blue; font-size: 80;">{{ kid }} <br> needs to COLLECT the trash and recycling today.</strong></p>
        <br><br>
        <h1>...and {{ laundrykid }} needs to fold any laundry in the living room.</h1>
        <body style="background-color: rgb(253, 255, 134);"></body>
        <center><img src="/static/moving_truck.gif"></center>
    </body>
</html>
